<div id="banner-wrap">
    <div class="container">
        <div id="banner">
            <img src="/Assets/client/CIS-pro/cis-img/2017-06-09-4e2fa.jpg" alt="">
            <span>Chúng tôi sẵn lòng nghe ý kiến của bạn</span>
        </div>
        <!-- / banner -->
    </div>
    <!-- / container -->
</div>
