
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {Tuyển dụng}

<div class="container">
    <br /><br />
    <p>Job title: Graphics/Web designer</p>
    <p>
        Requirements:
        <ul>
            <li>Bachelor’s degree, major in Graphic design or IT (prioritize IU’s students)</li>
            <li>Computer skills: MS Office, Adobe Photoshop, Adobe Illustrator…</li>
            <li>Preferred: One-year experience in designing or Web programming</li>
        </ul>
    </p>
</div>


