@media (max-width: 800px){
    #top-nav ul ul {
        display: block!important;
         position: initial!important;
        margin-left: -7px;
        width: 100%;
    }
}

#top-nav {
    margin-top: 0px!important;
}

.logoiu {
    /* width: 51%; */
    display: block;
    /* padding-top: 70px; */
    /*   background: #5C1652; */
    /* min-height: 60px; */
    margin: -10px 0;
    text-align: center;
    text-align: center;
}
.clWhite{
 color: white;
}
#logo {
    width: 100px;
    height: 100px;
    margin-top: 17px;
    margin-left: 43px;
}
li {
    list-style-type: none;
}
.tnb {
    margin-top: -68px;
}
.owl-dots {
    display: none;
}
.carousel .item {
    min-height: 298px;
    background: #f4f4f4!important;
}
.logoiu img {
    width: 12%;
    margin-top: 3%;
}
.tweet span {margin-left:5px;font-style: oblique;padding-bottom: 14px;}
.span10.text-iu {
    /* font-style: oblique; */
    text-align: center;
    line-height: 0px;
}
.span6.pd25 {
    padding: 25px;
}

a.more.text-left {
    margin-top: 29px;
}
#index-twitter {
    text-align: center;
}
.gray {
    background: #f4f4f4;
}

.fit-40 {
    padding: 40px 0 20px 0;
}
.fit-40 .services-title {
    margin: 0 0 40px 0;
}

img {
    height: auto !important;
}
