@model CIS.Web.Models.PostViewModel
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title { Về chúng tôi}

@{Html.RenderAction("Slide", "Home");}

<div class="container">   
    <div class="h2 getintouch" style="text-align:center;">@Model.Name</div>
    <p>@Html.Raw(Model.Content)</p>
</div>

