<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="cis@hcmiu.edu.vn"/>
  <add key="FromEmailPassword" value="bfoujfcolqauaxpg"/>
  <add key="FromName" value="CIS"/>
  <add key="AdminEmail" value="lmthien@hcmiu.edu.vn"/>
  <add key="CurrentLink" value="http://localhost:57197/"/>
  <add key="EnableBundles" value="false"/>
  
  
</appSettings>