<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="cis@hcmiu.edu.vn"/>
  <add key="FromEmailPassword" value="bfoujfcolqauaxpg"/>  
  <add key="FromName" value="CIS"/>
  <add key="AdminEmail" value="lmthien@hcmiu.edu.vn"/>
  <add key="CenterEmail" value="cis@hcmiu.edu.vn"/>
  <add key="NetworkTeamEmail" value="lmthien@hcmiu.edu.vn"/>
  <add key="WebTeamEmail" value="lmthien@hcmiu.edu.vn"/>
  <add key="CurrentLink" value="http://localhost:57197/"/>
  <add key="EnableBundles" value="false"/>
  
  <add key="ConfirmSendingRequest" value="/Assets/client/mail-template/confirm_sending_request.html"/>
  <add key="ConfirmClosingRequest" value="/Assets/client/mail-template/confirm_closing_request.html"/>
  <add key="SendingRequestToTeam" value="/Assets/client/mail-template/sending_request_to_team.html"/>
  <add key="ThankYou" value="/Assets/client/mail-template/thankyou.html"/>
  <add key="WarningClosingRequest" value="/Assets/client/mail-template/warning_closing_request.html"/>
  <add key="ConfirmApplicant" value="/Assets/client/mail-template/confirm_applicant.html"/>

  <add key="PageSize" value="10"/>
  <add key="MaxPage" value="5"/>
  
  
</appSettings>