
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Không tìm thấy";
}
<br />
<br />
<div class="container">
    <div class="alert alert-danger">
        404 Error - Not Found - Trang ban đang truy cập không được tìm thấy.
    </div>
</div>

