.tabbercontrol a { cursor:pointer; font-family: Arial, Helvetica,sans-serif !important;  display:block; color:#333333; font-weight:normal;  font-size:11px; float:left; margin:0px 3px 0px 0px; padding:6px 9px 6px 9px; border:1px solid #C8C8C8; border-bottom:0px; }
.tabbercontrol a.selected { color:#fff; background:#99CC00; border-color:#99CC00;} 
.tabbercontrol a:hover {color:#fff; background:#99CC00; border-color:#99CC00; text-decoration:none;}
.tabber {border:2px solid #99CC01; padding:5px 10px 10px 10px;}
.tabber .float_right {width:350px;} 
.tabber .float_right .verylong {width:330px !important;} 
