@model CIS.Web.Models.PostViewModel
@{
    ViewBag.Title = "CreateView";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm mới bài đăng</h2>

@section js {      
    <script src="~/Assets/admin/js/controller/postController.js"></script>
    <script>
        $('#btnSelectImage').off('click').on('click', function (e) {
            //e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
                $('#img').prop("src", url);
                $('#btnDelteImage').removeClass('hide');
            };
            finder.popup();
        });

        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Assets/admin/libs/ckeditor/config.js'
        });
    </script>
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Thông tin bài đăng</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form action="/Admin/Post/Create" method="post" class="form-horizontal form-label-left" novalidate>
                <div class="item form-group">
                    <label class="control-label" for="categoryID">Loại bài đăng</label>
                    <select class="form-control" name="categoryId">
                        @foreach (var category in Model.PostCategories)
                        {
                            <option value="@category.ID">@category.Name</option>
                        }
                    </select>
                </div>
                <div class="item form-group">
                    <label class="control-label" for="title">Tiêu đề</label>
                    <input class="form-control" id="txtName" name="name" placeholder="Tiêu đề" type="text" required="required">
                </div>
                <div class="item form-group">
                    <label class="control-label" for="title">Tiêu đề SEO</label>
                    <input class="form-control" id="txtAlias" name="alias" type="text" readonly>
                </div>
                <div class="item form-group">
                    <label class="control-label" for="title">URL liên kết</label>
                    <input class="form-control" id="txtReferenceUrl" name="referenceUrl" type="url">
                </div>
                <div class="item form-group">
                    <label class="control-label" for="title">Mô tả ngắn</label>
                    <textarea class="form-control" name="description" id="txtDescription"></textarea>
                </div>
                <div class="item form-group">
                    <label class="control-label" for="title">Hình ảnh</label>
                    <input type="text" id="txtImage" name="image" class="form-control" />
                </div>
                <div class="">
                    <button id="btnSelectImage" type="button" class="btn btn-default">Chọn ảnh</button>
                    <img id="img" style="height:100px" />
                    <a href="#" id="btnDelteImage" class="text-danger hide">Xoá ảnh</a>
                </div>
                <div class="item form-group">
                    <label class="control-label">Input Tags</label>
                    <div class="">
                        <input id="tags_1" type="text" name="tags" class="tags form-control" />
                        <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                    </div>
                </div>
                <div class="item form-group">
                    <label class="control-label" for="title">Nội dung</label>
                    <textarea id="txtContent" name="content"></textarea>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">Hiển thị trang chủ</label>
                    <div style="margin-top: 5px">
                        <label>
                            <input type="checkbox" name="homeflag" value="true" class="js-switch" />
                            <input name="homeflag" type="hidden" value="false" />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">Bài nổi bật</label>
                    <div style="margin-top: 5px">
                        <label>
                            <input type="checkbox" name="hotflag" value="true" class="js-switch" />
                            <input name="hotflag" type="hidden" value="false" />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">Đăng bài</label>
                    <div style="margin-top: 5px">
                        <label>
                            <input type="checkbox" name="status" value="true" class="js-switch" />
                            <input name="status" type="hidden" value="false" />
                        </label>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <a href="/Admin/Post/Index" class="btn btn-primary">Cancel</a>
                    <button id="btnSubmit" type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>